html { 
  height: 100% 
}

body { 
  font-family: 'Open Sans', sans-serif;
  color: #222;
  height: 100%; margin: 0; padding: 0 
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  height: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.about {
  text-indent: 1em;
  margin: 0 auto;
  text-align: left;
  width: 700px;
  padding: 50px;
}

.about img {
  width: 600px;
  margin: 0 auto;
}

h1#about {
  color: #222;
  text-align: center;
  box-shadow: none;
  font-size: 90px;
  word-spacing: 20px;
  margin-bottom: 50px;
  font-family: 'Londrina Shadow', cursive;
}

#map-canvas { 
  float: left;  
  width: 100%;
  height: 100%;
}

#google_directions {
  position: absolute;
  width: 32%;
  right: -36%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  overflow: scroll;
  color: gray;
  opacity: 0.9;
  background-color: gray;
  text-align: left;
  text-indent: 15px;
}

.adp-distance {
  text-align: right;
}

.adp-summary {
  text-indent: 3em;
}

.adp-substep {
  border-top-color: gray;
}

.adp-substep:hover {
  text-decoration: underline;
}

input {
  z-index: 1;
  top: 5%;
  position: absolute;
  margin-left: -300px;
  height: 60px;
  width: 600px;
  border: 5px solid steelblue;
  box-shadow: 0 0 15px steelblue;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  text-shadow: 0 0 3px gray;
}

form:focus, input:focus {
  outline: 0;
}

#directions_and_waypoints {
  z-index: 1;
  background-color: white;
  min-width: 250px;
  border-radius: 2px;
  border: 1px solid steelblue;
  position: fixed;
  right: 0;
  width: 20%;
  color: #666;
  box-shadow: 0 0 50px steelblue;
  padding-top: 20px;
  text-shadow: 0 0 1px #666;
}

.green {
  color: #009900;
  text-shadow: 0 0 1px #009900;
}

#waypoints {
  margin-top: 20px;
  max-height: 350px;
  overflow: scroll;
}

#waypoints div {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  color: #222;
  background-color: #B8E186;
  margin: 15px 15px;
  border-radius: 5px;
  box-shadow: 3px 3px 0 #4D9221;
}

h1, h2 {
  margin: 15px 15px;
  height: 38px;
  color: #A8A8A8;
  line-height: 38px;
  border-radius: 3px;
  box-shadow: 3px 3px 0 #276419;
  font-size: 24px;
}

h2 {
  box-shadow: 0 0 0;
  border-radius: 6px;
  border: 1px dashed #a8a8a8;
}

#calculate, a#about-goto-app {
  color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 3px 3px 0 #276419;
  background-color: #4D9221;
}

a#about-goto-app {
  display: block;
  text-align: center;
  height: 50px;
  line-height: 50px;
}


.draggable_hover {
  box-shadow: 0 0 15px #4D9221;
  font-weight: 800;
  color: #444;
}

div#undo_selection {
  background-color: white;
  border: 2px dotted #A8A8A8;
  color: #A8A8A8;
  box-shadow: none;
}

a {
  text-decoration: none;
}

h4 a {
  font-size: 15px;
  color: #A8A8A8;
}

h4 a:hover {
  text-decoration: underline;
}

#maptime {
  font-family: 'Londrina Shadow', cursive;
  font-size: 260px;
  letter-spacing: 5px;
  top: 40%;
  left: 15%;
  color: #FFFFFD;
  text-shadow: 0 0 15px gray;
  box-shadow: none;
  position: fixed;
  z-index: 1
}