<div class='about'>
<h1 id='about'>About</h1>

<p>Did you know that you can add multiple waypoints to Google Maps?</p>

<p><img src="multwaypoints.gif" alt=""></p>

<p>If you ever wanted to run several errands in a day, you can see how this might be useful.  This feature would be especially useful if Google also advised you on the best route through these waypoints. </p>

<p>No such luck, weirdly enough.  Google Maps does not have a button that calculates the quickest route through all of your destinations.  Crazy, right?  You can still approximate a better route by dragging waypoints around until the order looks right, but sometimes that's easier said than done.</p>

<p><img src="cantoptimize.gif" alt=""></p>

<p>Finding the shortest route between a given set of cities is called the Traveling Salesman Problem, and it's clearly something that should be solved by a computer.</p>

<p>So I built a web app that does exactly that!  To use Thinking Cap (working title), type in your addresses or click on the map (the app automatically finds the nearest navigable address).  Drag and drop two of the lime green address boxes into the "first waypoint" and "last waypoint" areas so the app knows where to start and finish.  Then click optimize waypoints and check out your directions!</p>

<p><img src="thinkingcap.gif" alt=""></p>

<p>This was a super fun web app to build.  It took about two days and in the process of doing so I explored the Google Maps API, jQuery animations, and object-oriented JavaScript (my most JS-heavy app to date - about 200 lines in all!). I'm (slowly) learning to love JavaScript.</p>

<p>Week 6 ended today, meaning I'm now halfway done with Dev Bootcamp...!  It also means that I first began learning JavaScript, AJAX, jQuery, Sinatra three weeks ago (I knew a little HTML and CSS before DBC).  It's crazy how quickly time has passed.</p>

<p>Once my new MacBook Pro arrives on my birthday this Tuesday, I'll deploy this application to the web so anyone can use it!</p>

<h1><a href="/" id="about-goto-app">Go to app!</a></h1>
</div>

