<div class="container">
<h1 id='maptime'>MAPTIME!</h1>
  <form action="/"><input autofocus type="text" placeholder="Add a waypoint..."></form>
  <div id="map-canvas" />
</div>
<div id="directions_and_waypoints">
  <div id="waypoints"></div>
  <div id="directions">
    <h2 id="first_waypoint">First waypoint?</h2>
    <h2 id="last_waypoint">Last waypoint?</h2>
    <a href="#" id="get_directions"><h1 id="calculate">Get directions</h1></a>
  </div>
</div>
<div id="google_directions">
  
</div>
